<!DOCTYPE html>
<html>
	<div class="text">
        <div class="col1">
	         <h3>Puzzle Hunt</h3>
	         <div class="icon">
	             <p><b>When?</b> Tuesday 3/11, 3-7PM<br></p>
	             <p><b>Where?</b> Not sure yet<br></p>
             </div>
             <br>
             <p>Enjoy solving puzzles? Come join the puzzle hunt! We’ll form teams and walk (or run) around campus using our bright engineering minds to solve puzzles. Make sure you wear comfortable clothes and shoes for 2-3 hours of outdoor adventures around the engineering buildings! Awards ceremony and dinner served from 6-7PM. Please sign up <a href="https://docs.google.com/forms/d/14GF2LYQBKc0gP-X733G5UhcbMfwej0GBzCBxSoX1PHY/formResponse" target="_blank">here</a> if you're planning on participating. </p>
             <b>Questions?</b> andreaowu at berkeley.edu
             <br><br>
        </div>

        <div class="col2">
	        <h3>Engineering Design</h3>
	         <div class="icon">
	             <p><b>When?</b> Thursday 3/11, 3:30-6PM<br></p>
	             <p><b>Where?</b> Bechtel<br></p>
             </div>
             <br>
             <p>Insert some text here</p>
             <b>Questions?</b> andreaowu at berkeley.edu
             <br><br><br><br><br><br><br><br>
        </div>

        <div class="col1">
	        <h3>Duct Taping</h3>
	          <div class="icon">
		        <p><b>When?</b> Thursday 3/13, 7-8PM<br></p>
		        <p><b>Where?</b> TBD<br></p>
		      </div>
            <br>
            <p>As an interdepartmental competition, each group will work to duct tape one member of their team to a wall as quickly as possible. Members will have to answer trivia questions in order to receive more tape, as each group will only be given a limited initial amount. Snacks will be provided and there will be people stuck on walls so be sure to stop by!</p>
            <b>Questions?</b> hillarychen at berkeley.edu
        </div>
	</div>
</html>
