<!DOCTYPE html>
<html>
	<div class="text">
        <div class="col1">
	         <h3>Breakfasts</h3>
	         <div class="icon">
                 <img src="assets/breakfast.png">
	             <p><b>When?</b> I have no idea<br></p>
	             <p><b>Where?</b> Not sure yet<br></p>
             </div>
             <br>
             <p>Insert pitch here</p>
             <b>Questions?</b> andreaowu at berkeley.edu
             <br><br><br><br><br><br><br><br>
        </div>

        <div class="col2">
	        <h3>Showcases</h3>
	        <div class="icon">
                <img src="assets/showcase.png">
		        <p><b>When?</b> Monday 3/10, 5-7PM<br></p>
		        <p><b>Where?</b> Lobby of...? <br></p>
		    </div>
            <br>
            <p>Insert pitch here</p>
            <b>Questions?</b> ?? at berkeley.edu
        </div>

    <br><br><br><br><br>
	</div>
</html>
