<!DOCTYPE html>
<html>
	<div class="text">

        <div class="col1">
	         <h3>Milk and Cookies</h3>
	         <div class="icon">
                 <img src="assets/breakfast.png">
	             <p><b>When?</b> Monday 3/10, 12-2PM<br></p>
	             <p><b>Where?</b> Bechtel Terrace<br></p>
             </div>
             <br>
             <p>Start off EWeek by grabbing some milk and cookies and socializing with your fellow engineers at the Bechtel Terrace (right outside the ESS office). We will have an assortment of different cookies and they're free so be sure to stop by!</p>
             <b>Questions?</b> hillarychen at berkeley.edu
             <br><br><br><br>
         </div>

        <div class="col2">
	        <h3>Showcases</h3>
	        <div class="icon">
                <img src="assets/showcase.png">
		        <p><b>When?</b> Monday 3/10, 5-6:30PM<br></p>
		        <p><b>Where?</b> Gabirini Lounge<br></p>
		    </div>
            <br>
            <p>The engineering showcase is a chance for all clubs to show off the projects and devices that they have been working on.  Located directly outside and after the kickoff event, each group will be set up to show you their work, so come check out what our Berkeley engineers have been building! </p>
            <b>Questions?</b> amy.tsai at berkeley.edu
            <br><br>
        </div>

        <div class="col1">
	         <h3>Breakfast</h3>
	         <div class="icon">
                 <img src="assets/breakfast.png">
	             <p><b>When?</b> I have no idea<br></p>
	             <p><b>Where?</b> Not sure yet<br></p>
             </div>
             <br>
             <p>Insert pitch here</p>
             <b>Questions?</b> andreaowu at berkeley.edu
             <br><br><br><br><br><br><br><br>
        </div>

        <div class="col2">
	         <h3>Carnival</h3>
	         <div class="icon">
                 <img src="assets/breakfast.png">
	             <p><b>When?</b> I have no idea<br></p>
	             <p><b>Where?</b> Not sure yet<br></p>
             </div>
             <br>
             <p>Insert pitch here</p>
             <b>Questions?</b> andreaowu at berkeley.edu
             <br><br><br>
        </div>

        <div class="col1">
	        <h3>Casino Night</h3>
	        <div class="icon">
                <img src="assets/showcase.png">
		        <p><b>When?</b> Friday, 3/14, 6-8PM<br></p>
		        <p><b>Where?</b> Hearst Mining Lobby<br></p>
		    </div>
            <br>
            <p>Come by ESC's Casino Night! There will be multiple tables set up for poker, roulette, pai gao, and more, with professional card dealers. There will also be entertainment, including a magic act, and refreshments will be provided.</p>
            <b>Questions?</b> hillarychen at berkeley.edu
        </div>

    <br><br><br><br><br>
	</div>
</html>
