<!DOCTYPE html>
<html>
	<div class="text">
        <div class="col1">
	         <h3>Engineering For Kids</h3>
	         <div class="icon">
                 <img src="assets/outreach.png">
	             <p><b>When?</b> Saturday 3/15, 8AM-8PM<br></p>
	             <p><b>Where?</b> Cory Hall<br></p>
             </div>
             <br>
             <p>As part of Engineers’ Week, Engineering For Kids has various UC Berkeley student organizations host engineering activities for elementary school students on campus. Examples include making ice cream from liquid nitrogen and a light up LED sound board. </p>
             <b>Questions?</b> Check out the <a href="http://e4k.berkeley.edu">E4K</a> website!
             <br><br><br>
        </div>

    <br><br><br><br><br>
	</div>
</html>
