<!DOCTYPE html>
<html>
	<div class="text">
        <div class="col1">
	         <h3>Engineering For Kids</h3>
	         <div class="icon">
                 <img src="assets/outreach.png">
	             <p><b>When?</b> Saturday 3/15, 9AM-3PM<br></p>
	             <p><b>Where?</b> Engineering buildings<br></p>
             </div>
             <br>
             <p>As part of Engineers’ Week, Engineering For Kids is an annual event during which we invite elementary school children from around the area to come to campus to engage in activities hosted by our own UC Berkeley engineering societies. <br> Volunteers are always welcome the day of the event.  We will need help setting up, making sure kids and their chaperones stay in designated areas, and cleaning up.  If you're interested, please do come <a href="http://e4k.berkeley.edu">help</a> us!</p>
             <b>Questions?</b> eng4kids at gmail.com
             <br><br><br>
        </div>

    <br><br><br><br><br>
	</div>
</html>
