<!DOCTYPE html>
<html>
	<div class="text">
        <div class="col1">
	         <h3>Seminars and Workshops</h3>
	         <div class="icon">
	             <p><b>When?</b> Wednesday 3/12, 5-6:30PM<br></p>
	             <p><b>Where?</b> International House<br></p>
             </div>
             <br>
             <p>Insert blurb here.</p>
             <b>Questions?</b> ?? at berkeley.edu
             <br><br><br>
        </div>
        <br><br><br><br><br>

        <div class="col2">
	        <h3>Networking</h3>
	        <div class="icon">
	             <p><b>When?</b> Wednesday 3/12, 6:30-8:30PM<br></p>
	             <p><b>Where?</b> International House<br></p>
		    </div>
            <br>
            <p>Insert blurb here.</p>
            <b>Questions?</b> ?? at berkeley.edu
        </div>

    <br><br><br><br><br>
	</div>
</html>
