<!DOCTYPE html>
<html>
	<div class="text">
        <div class="col1">
	        <h3>Networking</h3>
	        <div class="icon">
                 <img src="assets/network.png">
	             <p><b>When?</b> Wednesday 3/12, 7-9PM<br></p>
	             <p><b>Where?</b> Kvamme Auditorium<br></p>
		    </div>
            <br>
            <p>Come meet industry professionals and talk to them about their professional experiences. Hor d'oeuvres will be served!</p>
            <b>Questions?</b> mark.iskarous at gmail.com 
        </div>

    <br><br><br><br><br>
	</div>
</html>
