<!DOCTYPE html>
<html>
	<div class="text">
        <div class="col1">
	         <h3>Puzzle Hunt</h3>
	         <div class="icon">
	             <p><b>When?</b> Tuesday 3/11, 3PM-7PM<br></p>
	             <p><b>Where?</b> Not sure yet<br></p>
             </div>
             <br>
             <p>Enjoy solving puzzles? Come join the puzzle hunt! We’ll form teams and walk (or run) around campus using our bright engineering minds to solve puzzles. Make sure you wear comfortable clothes and shoes for 2-3 hours of outdoor adventures around the engineering buildings! Awards ceremony and dinner served from 6-7PM.</p>
             <b>Questions?</b> andreaowu at berkeley.edu
             <br><br><br>
        </div>

        <div class="col2">
	        <h3>Duct Taping</h3>
	        <div class="icon">
		        <p><b>When?</b> Tuesday 3/11<br></p>
		        <p><b>Where?</b> Place <br></p>
		    </div>
            <br>
            Stick people onto walls using duct tape!
            <br><br>
            <b>Questions?</b> ?? at berkeley.edu
        </div>

    <br><br><br><br><br>
	</div>
</html>
