<!DOCTYPE html>
<html>
	<% content_for :head do %>
		<div class="image"><img src="assets/meet.png" style="margin-left:200px;margin-top:40px">
			<h1>Weeklong engineering activities to enjoy the sunshine!</h1>
		</div>
	<% end %>

	<div class="text">
	    <h3>Keynote</h3>
	    <div class="icon">
		    <p><b>When?</b> Monday 3/10<br></p>
		    <p><b>Where?</b> Place <br></p>
		    <p><b>What?</b> TALK YAY<br></p>
		</div>
	    <b>Questions?</b> Contact at berkeley.edu

	    <h3>Ted Talk</h3>
	    <div class="icon">
		    <p><b>When?</b> Monday 3/10<br></p>
		    <p><b>Where?</b> Place <br></p>
		    <p><b>What?</b> TALK YAY<br></p>
		</div>
	    <b>Questions?</b> Contact at berkeley.edu

	</div>
</html>
