<!DOCTYPE html>
<html>
	<div class="text">
        <div class="col1">
	         <h3>Keynote Speaker</h3>
	         <div class="icon">
	             <p><b>When?</b> Monday 3/10, 4-5PM<br></p>
	             <p><b>Where?</b> Not sure yet<br></p>
             </div>
             <br>
             <p>Come to an inspiring talk by Ryan Bethencourt and Ron Shigeta and hear about their experiences as engineers and entrepreneurs in their latest business venture, Berkeley BioLabs. Learn about some different perspectives of starting a successful start-up company and consider how you can innovate the next big idea. Refreshments will be provided.</p>
             <b>Questions?</b> andreaowu at berkeley.edu
             <br><br><br>
        </div>

        <div class="col2">
	        <h3>Innovations in Engineering</h3>
	        <div class="icon">
		        <p><b>When?</b> Tuesday 3/11, 7-8PM<br></p>
		        <p><b>Where?</b> Sibley Auditorium<br></p>
		    </div>
            <br>
            <p>Come to an inspiring talk by Ryan Bethencourt and Ron Shigeta and hear about their experiences as engineers and entrepreneurs in their latest business venture, Berkeley BioLabs. Learn about some different perspectives of starting a successful start-up company and consider how you can innovate the next big idea. Refreshments will be provided.</p>
            <b>Questions?</b> jchsueh at berkeley.edu
            <br><br>
        </div>

    <br><br><br>
	</div>
</html>
