@import "bootstrap";

body {
    background-color: #FFFFCC;
    color: #FFCC00;
    font-family: 'Droid Sans', sans-serif;
}

.text {
    height: auto;
    margin-top: 200px;
    margin-bottom: 10px;
    font-family: 'Droid Sans', sans-serif;
    color: #000000;
    margin-left: 225px;
}

.col1 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 705px;
    width: 350px;
}

.col2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -378px;
    padding-left: 150px;
    width: 350px;
}

h1 {
    font-weight: normal;
    text-align: left;
    padding-top: 175px;
    margin-top: -175px;
    margin-left: 40px;
    margin-right: 50px;
    padding-bottom: 10px;
    font-size: 14px;
}

p {
    line-height: 18px;
    font-size: 14px;
    font-family: 'Droid Sans', sans-serif;
}

.image {
    background-repeat: no-repeat;
    background-position: center;
    width: 900px;
    height: 450px;
    border: 3.5px solid #3366CC;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-right: auto;
    padding-left: auto;
    float: center;
    background-color: #3366CC;
}

.icon {
    border: 3.5px solid #3366CC;
    height: 100px;
    width: 100px;
    float: center;
}

.icon > p {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 115px;
    width: 840px;
    line-height: 12px;
}

.nav {
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.navbar .nav > li > a {
    color: #3366CC;
    text-shadow: none;
}

.navbar .nav > li > a > img {
    background-color: #99CCFF;
    border: 2px solid #3399CC;
    -webkit-border-radius: 240px;
    width: 150px;
    height: auto;
    opacity: 0.75;
}

.navbar .nav > li > a > img:hover {
    color: #ffffff;
    opacity: 1;
}

.brand {
    font-family: 'Droid Sans', sans-serif;
    color: #6699FF;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 170px;
    display: block;
}
