@import "bootstrap";

body {
    background-color: #FFFFCC;
    color: #FFCC00;
    font-family: 'Droid Sans', sans-serif;
}

.text {
    height: auto;
    margin-top: 200px;
    margin-bottom: 10px;
    font-family: 'Droid Sans', sans-serif;
    color: #000000;
    margin-left: 225px;
}

.col1 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 705px;
    width: 350px;
}

.col2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -366px;
    padding-left: 150px;
    width: 350px;
}

h1 {
    font-weight: normal;
    text-align: left;
    padding-top: 340px;
    margin-top: -165px;
    margin-left: 40px;
    margin-right: 50px;
    padding-bottom: 10px;
    font-size: 14px;
}

h2 {
    font-size: 52px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 180px;
    padding-left: 250px;
}

h4 {
    font-size: 24px;
    font-weight: normal;
    margin-top: -240px;
    padding-left: 400px;
    line-height: 26px;
}

p {
    line-height: 18px;
    font-size: 14px;
    font-family: 'Droid Sans', sans-serif;
}

.calendar {
    background-color: #3366CC;
    height: 80px;
    float: center;
}

.calendar > ul {
    width: 255px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    color: #FFCC00;
    font-size: 26px;
    padding-top: 30px;
    border-left: 3px solid #99CCFF;
    height: 63%;
    vertical-align: middle;
    float: left;
    opacity: .6;
}

.calendar > ul > h1 {
    color: #99CCFF;
    padding-left: 32px;
    padding-top: 118px;
    font-size: 16px;
    line-height: 44px;
}

.image {
    background-repeat: no-repeat;
    background-position: center;
    width: 900px;
    height: 450px;
    border: 3.5px solid #3366CC;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-right: auto;
    padding-left: auto;
    float: center;
    background-color: #3366CC;
}

.icon {
    border: 3.5px solid #3366CC;
    height: 100px;
    width: 100px;
    float: center;
}

.icon > p {
    font-size: 16px;
    margin-top: -50px;
    margin-left: 115px;
    width: 840px;
    line-height: 12px;
}

.nav {
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.navbar .nav > li > a {
    color: #3366CC;
    text-shadow: none;
}

.navbar .nav > li > a > img {
    background-color: #99CCFF;
    border: 2px solid #3399CC;
    -webkit-border-radius: 240px;
    width: 150px;
    height: auto;
    opacity: 0.75;
}

.navbar .nav > li > a > img:hover {
    color: #ffffff;
    opacity: 1;
}

.footer {
    border-top: 1px solid #3366CC;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 900px;
    float: center;
    color: #3366CC;
} 

.footer > h1 {
    float: right;
    margin-top: -345px;
    margin-right: 0px;
}
