<div class="footer">
    <h5>Interested in helping? <a href="https://docs.google.com/forms/d/10eb8oCXqJwZnYp5V5aT5jKmpEbCuezONcKk389tDfgs/viewform" target="_blank">Sign up</a> and we'll let you know how you can!</h5>
    <h1>All pictures drawn by Gabriela Wantah. Website designed by Andrea Wu. All Rights Reserved. © Engineering Student Council, 2014</h1>
</div>
