<link href='http://fonts.googleapis.com/css?family=Droid Sans' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="http://tympanus.net/Development/Arctext/js/jquery.arctext.js"></script>
<script>
	$().ready(function() {
  	$('#speakerCurve').arctext({radius: 55});
  	$('#profdevCurve').arctext({radius: 50});
  	$('#outreachCurve').arctext({radius: 60});
  	$('#meetCurve').arctext({radius: 50});
  	$('#eatCurve').arctext({radius: 55, dir: -1});
  	$('#profCurve').arctext({radius: 60});
  	$('#devCurve').arctext({radius: 60, dir: -1});
  	$('#compCurve').arctext({radius: 70});
  });

function load(obj) {
    $("#loadedPage").load(obj.getAttribute("href").substring(1) + ".html");
    var text = obj.getAttribute("href").substring(1);
    var activity = "<h4>- - ";
    if (text === "speaker") {
        text = "Speaker";
        activity += "Dean Drako Kickoff<br>&nbsp  - - Closing Remarks";
    } else if (text === "outreach") {
        text = "Outreach";
        activity += "Engineering for Kids";
    } else if (text === "meet") {
        text = "Meet and Eat";
        activity += "Milk and Cookies<br>&nbsp - - Showcases<br> - - Breakfast<br>&nbsp - - Carnival<br>- - Casino Night";
    } else if (text === "compete") {
        text = "Compete";
        activity += "Puzzle Hunt<br>&nbsp- - Build & Design<br>- - Duct Taping";
    }
    document.getElementById("banner").innerHTML = '<h2>' + text + '</h2><h1>Weeklong engineering activities to enjoy the sunshine!</h1>' + activity + "</h4>";
    if (text === "profdev") {
        activity = '<h4 style="margin-top:-190px">- - Networking';
        text = "Professional<br>&nbsp&nbsp&nbsp&nbsp Development";
        document.getElementById("banner").innerHTML = '<h2 style="line-height:46px;">' + text + '</h2><h1 style="margin-top:-210px;">Weeklong engineering activities to enjoy the sunshine!</h1>' + activity + "</h4>";
    }
}

</script>

<div class="calendar">
    <ul style="margin-left:100px;">&nbspMon
        <h1 style="padding-top:115px;">Milk and Cookies</h1>
        <h1 style="padding-top:121px;">Dean Drako Talk</h1>
        <h1 style="padding-top:121px;">Showcases</h1>
    </ul>
    <ul style="margin-left:-56px;">&nbspTues
        <h1 style="padding-top:115px;">Breakfast<h1>
        <h1 style="padding-top:148px;">Puzzle Hunt</h1>
        <h1 style="padding-top:122px;">Innovations Talk</h1>
    </ul>
    <ul style="margin-left:-56px">&nbspWed
        <h1 style="padding-top:115px;padding-left:28px;">Breakfast<h1>
        <h1 style="padding-top:148px;padding-left:28px;">Networking Event</h1>
    </ul>
    <ul style="margin-left:-56px">&nbspThurs
        <h1 style="padding-top:115px;padding-left:46px;">Duct Taping</h1>
        <h1 style="padding-top:121px;padding-left:46px;">Closing Remarks</h1>
    </ul>
    <ul style="margin-left:-48px;">&nbspFri
        <h1 style="padding-top:115px;padding-left:8px;">Carnival</h1>
        <h1 style="padding-top:121px;padding-left:8px;">Casino Night</h1>
    </ul>
    <ul style="margin-left:-110px;width:90px;border-right: 3px solid #99CCFF;">&nbspSat
        <h1 style="padding-top:134px;padding-left:14px;">E4K</h1>
    </ul>
</div>

<%= yield :head %>

<div class="navbar" style="padding-left:100px;margin-top:-450px">
  <u1 class="nav">
    <li><a href="#speaker" onclick="load(this)"><img src="assets/speaker.png" onclick="changeOpacity(this)">
        <div id="speakerCurve" style="margin-top:-150px;margin-left:30px">S P E A K E R</div>
    </a></li>
  </u1>
</div>

<div class="navbar" style="padding-right:700px;padding-top:50px">
  <u1 class="nav">
  <li><a href="#profdev" onclick="load(this)"><img src="assets/profdev.png">
      <div id="profCurve" style="margin-top:-150px;margin-left:25px">PROFESSIONAL</div>
      <div id="devCurve" style="margin-top:105px;margin-left:25px">DEVELOPMENT</div>
  </a></li>
  </u1>
</div>

<div class="navbar" style="padding-left:550px">
  <u1 class="nav">
  <li><a href="#outreach" onclick="load(this)"><img src="assets/network.png">
      <div id="outreachCurve" style="margin-top:-149px;margin-left:22px">O U T R E A C H</div>
  </a></li>
  </u1>
</div>

<div class="navbar" style="padding-right:450px">
  <u1 class="nav">
  <li><a href="#meet" onclick="load(this)"><img src="assets/meet.png">
      <div id="meetCurve" style="margin-top:-150px;margin-left:50px">M E E T</div>
      <div id="eatCurve" style="margin-top:105px;margin-left:35px">A N D  E A T</div>
  </a></li>
  </u1>
</div>

<div class="navbar" style="padding-left:315px;padding-top:178px">
  <u1 class="nav">
  <li><a href="#compete" onclick="load(this)"><img src="assets/compete.png">
      <div id="compCurve" style="margin-top:-148px;margin-left:30px">C O M P E T E</div>
  </a></li>
  </u1>
</div>

