<link href='http://fonts.googleapis.com/css?family=Droid Sans' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="http://tympanus.net/Development/Arctext/js/jquery.arctext.js"></script>
<script>
	$().ready(function() {
  	$('#speakerCurve').arctext({radius: 55});
  	$('#profdevCurve').arctext({radius: 50});
  	$('#outreachCurve').arctext({radius: 60});
  	$('#meetCurve').arctext({radius: 50});
  	$('#eatCurve').arctext({radius: 55, dir: -1});
  	$('#profCurve').arctext({radius: 60});
  	$('#devCurve').arctext({radius: 60, dir: -1});
  	$('#compCurve').arctext({radius: 70});
  });

function load(obj) {
    $("#loadedPage").load(obj.getAttribute("href").substring(1) + ".html");
    var text = obj.getAttribute("href").substring(1);
    var activity = "<h4>- - ";
    if (text === "speaker") {
        text = "Speaker";
        activity += "Keynote<br>&nbsp  - - Ted Talk";
    } else if (text === "outreach") {
        text = "Outreach";
        activity += "Engineering for Kids";
    } else if (text === "meet") {
        text = "Meet and Eat";
        activity += "Breakfasts<br>&nbsp  - - Showcases";
    } else if (text === "compete") {
        text = "Compete";
        activity += "Puzzle Hunt<br>&nbsp- - Build & Design<br>- - Duct Tape";
    }
    document.getElementById("banner").innerHTML = '<h2>' + text + '</h2><h1>Weeklong engineering activities to enjoy the sunshine!</h1>' + activity + "</h4>";
    if (text === "profdev") {
        activity = '<h4 style="margin-top:-190px">  - - Workshops<br>&nbsp- - Network';
        text = "Professional<br>&nbsp&nbsp&nbsp&nbsp Development";
        document.getElementById("banner").innerHTML = '<h2 style="line-height:46px;">' + text + '</h2><h1 style="margin-top:-210px;">Weeklong engineering activities to enjoy the sunshine!</h1>' + activity + "</h4>";
    }
}

</script>

<%= yield :head %>

<div class="navbar" style="padding-left:100px;margin-top:-450px">
  <u1 class="nav">
    <li><a href="#speaker" onclick="load(this)"><img src="img/speaker.png" onclick="changeOpacity(this)">
        <div id="speakerCurve" style="margin-top:-150px;margin-left:30px">S P E A K E R</div>
    </a></li>
  </u1>
</div>

<div class="navbar" style="padding-right:700px;padding-top:50px">
  <u1 class="nav">
  <li><a href="#profdev" onclick="load(this)"><img src="img/profdev.png">
      <div id="profCurve" style="margin-top:-150px;margin-left:25px">PROFESSIONAL</div>
      <div id="devCurve" style="margin-top:105px;margin-left:25px">DEVELOPMENT</div>
  </a></li>
  </u1>
</div>

<div class="navbar" style="padding-left:550px">
  <u1 class="nav">
  <li><a href="#outreach" onclick="load(this)"><img src="img/outreach.png">
      <div id="outreachCurve" style="margin-top:-149px;margin-left:22px">O U T R E A C H</div>
  </a></li>
  </u1>
</div>

<div class="navbar" style="padding-right:450px">
  <u1 class="nav">
  <li><a href="#meet" onclick="load(this)"><img src="img/meet.png">
      <div id="meetCurve" style="margin-top:-150px;margin-left:50px">M E E T</div>
      <div id="eatCurve" style="margin-top:105px;margin-left:35px">A N D  E A T</div>
  </a></li>
  </u1>
</div>

<div class="navbar" style="padding-left:300px;padding-top:175px">
  <u1 class="nav">
  <li><a href="#compete" onclick="load(this)"><img src="img/compete.png">
      <div id="compCurve" style="margin-top:-148px;margin-left:30px">C O M P E T E</div>
  </a></li>
  </u1>
</div>
